#yeti {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* body {
  /* background: linear-gradient(to right, #1D976C, #93F9B9); */
  /* background:url('../../src/assets/backgrounds/blue.jpg') ; */
/* } */ 

 /* body {
  /* background: linear-gradient(to right, #1D976C, #93F9B9); */
  /* background:url('../../src/assets/backgrounds/main.jpg') ; */
/* }  */ 
